<div class="hero">
    <div class="backdrop">
        <div class="lazyloaded">
            <button class="play" type="button">
                <svg xmlns="http://www.w3.org/2000/svg" width="55" height="55" viewBox="0 0 55 55">
                    <circle cx="27.5" cy="27.5" r="26.75" fill="none" stroke="#fff" stroke-linecap="round"
                        stroke-linejoin="round" stroke-width="1.5" />
                    <path fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
                        d="M20.97 40.81L40.64 27.5 20.97 14.19v26.62z" /></svg>
            </button>
            <img class="lazyload image" src="https://image.tmdb.org/t/p/original/{{ backdrop_path }}">
        </div>
    </div>
    <div class="pane">
        <div>
            <div class="name">{{ title }}</div>
            <div class="meta">

                <div class="info">
                    <span class="rate">
                        <i class="material-icons">star</i><span>{{ vote_average }}</span> /10
                    </span>
                    <span> {{vote_count | numberWithCommas }} Reviews</span>
                    <span>{{release_date | date}}</span>
                    <span>{{runtime | time  }}</span>
                </div>
            </div>
            
        </div>
    </div>
</div>