<div class="listing">
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <div class="input-group">
                    <input type="text" class="form-control searchdesign" placeholder="Search for movies..." [(ngModel)]="searchStr">
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <!-- <div class="form-group">
                <div class="input-group">
                    <select  class="searchdesign" (change)="filterByGenre($event)">
                        <option value="">Choose Genres</option>
                        <option *ngFor="let genre of uniqueGenres" [ngValue]="genre">
                            {{ genre }}
                        </option>
                    </select>
               </div>
            </div> -->
            <div class="form-group">
                <div class="input-group">
                    <app-multi-select-dropdown 
                            [uniqueGenresPair]="uniqueGenresPair" 
                            (selectedGenreList)="setSelectedGenreList($event)"
                            (shareIndividualGenre)="setIndividualGenre($event)">
                    </app-multi-select-dropdown>
                    <!-- <div >
                        <div (mouseleave)="showDropDown = false" >
                            <button class="drop-toggle btn flat " (click)="showDropDown=!showDropDown">
                                <span *ngIf="checkedList.length<=0">Select</span>
                                <span *ngIf="checkedList.length>0">{{checkedList.join(', ')}}</span>
                                <i class="fa fa-angle-down"></i>
                            </button>
                            <div class="drop-show" *ngIf="showDropDown">
                                <label *ngFor="let a of uniqueGenresPair">
                                    <input type="checkbox" [(ngModel)]="a.checked" 
                                        (change)="getSelectedValue(a.checked,a.name)" />
                                    <span>{{a.name}}</span>
                                </label>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
        <div class="col-md-6" style="display: flex; align-items: flex-end; justify-content: end; align-items: flex-end;">
            <div class="form-group">
                <div class="input-group searchdesignSort">
                    <h3 class="sort__title">Sort By</h3>
                    <span class="input-group-btn titleMargin">
                        <button class="btn btn-primary btnDesign" type="button" (click)="sort('title')">Title</button>
                    </span>
                    <span class="input-group-btn titleMargin">
                        <button class="btn btn-primary btnVoteCount" type="button" (click)="sort('popularity')">Popularity</button>
                    </span>
                    <span class="input-group-btn titleMargin">
                        <button class="btn btn-primary btnReleaseDate" type="button" (click)="sort('release_date')">Release Date</button>
                    </span>
                    <span class="input-group-btn titleMargin">
                        <button class="btn btn-primary btnVoteAvg" type="button" (click)="sort('vote_average')">Vote Average</button>
                    </span>
                    <span class="input-group-btn titleMargin">
                        <button class="btn btn-primary btnVoteCount" type="button" (click)="sort('vote_count')">Vote Count</button>
                    </span>
                </div>
            </div>
        </div>
    </div>  
    <div class="row">
        <div class="col-md-2 listing__items" *ngFor="let movie of movies | filter:searchStr | orderBy: key: reverse">
            <div [routerLink]="['/movieDetail']" [queryParams]="{title: movie.title, release_date: movie.release_date, 
                vote_average: movie.vote_average, vote_count: movie.vote_count,
                runtime: movie.runtime, backdrop_path: movie.backdrop_path}">
                <div class="listing-item-style">
                    <div class="overlay">
                        <div class="hover"><i class="material-icons"></i> View</div>
                    </div>
                    <img src="https://image.tmdb.org/t/p/w370_and_h556_bestv2/{{movie?.backdrop_path}}"
                        [alt]="movie.title ? movie.title : movie.original_title">
                    <img *ngIf="!movie?.backdrop_path" src="../../../assets/images/default-movie.png"
                        [alt]="movie.title ? movie.title : movie.original_title">
                    <h6>{{ movie?.title }}</h6>
                    <p class="rate"><i class="material-icons">star</i><span>{{movie?.vote_average}}</span> /10</p>
                    <p class="year"><span>{{movie?.release_date | date}}</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>